@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  background-color: #222222;
  color: white;
}

.top-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 20px 0px 10px;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #222222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 2rem;
  min-height: 10vh;
  -webkit-box-shadow: 0 4px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 3px rgba(0, 0, 0, 0.1);
}

.navbar .logo h1 a {
  text-decoration: none;
  color: white;
}

.navbar .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.navbar .nav-links a,
.navbar .nav-links p {
  text-decoration: none;
  color: white;
  font-weight: 500;
  margin: 0;
}

.navbar .nav-links .nav-link {
  padding: 10px 20px;
}

.landing {
  margin-top: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h2 {
  font-size: 40px;
  font-weight: 500;
}

p {
  margin: 5px 0 10px 0;
  font-size: 16px;
}

.container {
  min-height: 80vh;
  height: 90vh;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: 50px 100px;
}

.home-left-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.home-left-container a {
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 3px;
  border: none;
  outline: none;
  background: #1e83e2;
  color: white;
  font-weight: 600;
  font-size: 16px;
  border: 2px solid #1e83e2;
}

.home-left-container a:hover {
  color: #1e83e2;
  background: transparent;
}

.home-right-container {
  cursor: -webkit-grab;
  cursor: grab;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home-right-container small {
  margin-top: -100px;
  font-weight: 900;
}

.latest {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.latest .latest-top {
  padding: 20px 0;
}

.item-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.item {
  background-color: white;
  margin: 10px;
  border-radius: 4px;
}

.item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-decoration: none;
  color: #222222;
  padding: 30px;
}

.item .item-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.item .item-desc p {
  margin: 10px 0 0 0;
}

.item .item-desc span {
  margin-top: 5px;
  font-size: 12px;
  color: #4b4b4b;
}

.shoe-image {
  height: 200px;
  width: 160px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border: 4px solid black;
  border-radius: 4px;
}

.linkLoginSignup {
  text-decoration: none;
  color: #1e83e2;
  margin: 10px 0;
}

.linkLoginSignup:hover {
  text-decoration: underline;
}

.admin {
  margin: 70px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.admin .addShoe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.admin .addShoe h1 {
  font-size: 28px;
  padding: 5px 0;
  margin: 20px 0;
}

.admin .products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.addedProduct {
  min-height: 90vh;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.editProduct {
  margin-top: 10vh;
  min-height: 90vh;
  height: 100%;
}

.productPage {
  margin-top: 10vh;
}

.productPage .productWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px 0;
}

.productPage .productWrapper .productPageLeft {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.productPage .productWrapper .productPageLeft img {
  height: 400px;
}

.productPage .productWrapper .productPageRight {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  font-size: 24px;
  padding: 0 30px 30px 30px;
}

.productPage .productWrapper .productPageRight .productDesc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.productPage .productWrapper .productPageRight .productDesc span {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 180px;
}

.productPage .productWrapper .productPageRight .productDesc span a {
  color: white;
}

.productPage .productWrapper .productPageRight .productDesc span:first-child {
  font-weight: 600;
}

.productPage .productWrapper .productPageRight .productDesc .available {
  color: green;
}

.productPage .productWrapper .productPageRight .productDesc .outofstock {
  color: red;
}

.customers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.customers div {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.customers div td {
  padding: 10px 20px;
}

footer {
  border-top: 0.5px solid gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px 0;
}

.light {
  color: #222222;
  background-color: ghostwhite;
}

.light .navbar {
  color: #222222;
  background-color: ghostwhite;
}

.light .navbar .logo h1 a {
  color: #222222;
}

.light .nav-links a,
.light .nav-links p {
  color: #222222;
}

.light .productPage .productWrapper .productPageRight .productDesc span a {
  color: #222222;
}
/*# sourceMappingURL=main.css.map */